body {
  font: 20px Arial, sans-serif;
}

.navbar {
  background-color: #0f8d0f;
}

.quem-somos {
  background-color: #15AAEB;
  color: white;
}

.margin {
  padding-bottom: 50px;
  padding-top: 10px;
}

.parceiros {
  background-color: #666A86;
  color: white;
}

.servicos {
  background-color: #F39006;
}

.bg-footer{
  color: white;
  background-color: #333333;
}